
    <div id="products" class="row cols-1 cols-sm-2 gy-2 pt-4  text-white fw-bold">

        <div  class="row align-items-center">
            <div class="col-lg-2">
                <label for="product_code" class="form-label">Product Code</label>
                <input type="number" class="form-control" name="product_code" id="product_code" placeholder="code">
            </div>
            <div class="col-lg-3">
                <label for="product_name" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="product_name" id="product_name"
                    placeholder="Enter the product name">
            </div>
            <div class="col-lg-2">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" name="amount" id="amount" value="0" placeholder="0">
            </div>
            <div class="col-lg-2">
                <label for="standard_value" class="form-label">Standard Value</label>
                <input type="number" class="form-control" name="standard_value" id="standard_value" placeholder="0">
            </div>

            <div class="col-lg-3 m-auto text-center d-flex align-items-center">
                <button class="btn btn-success px-5 py-3 m-0 ">+</button>
                <button  class="btn btn-danger px-5 py-3 mx-3">-</button>
            </div>
           
        </div>
        
    </div>

