<div class="container my-5 rounded" style="--bs-bg-opacity: .4; border-style:groove;">
    <div class="row cols-1 cols-sm-2 gy-2 py-4 text-white fw-bold">
        <div class="col-md-12 text-center">
            <h2 class="text-white fw-bold">Invoice header</h2>
        </div>
        <div class="col-md-4">
            <label for="bill_#" class="form-label">Bill #</label>
            <input type="number" class="form-control" name="bill#" id="bill#" placeholder="Enter the bill's number">
        </div>

        <div class="col-md-4">
            <label for="bill_date" class="form-label">Bill Date</label>
            <input type="date" class="form-control" name="bill_date" id="bill_date">
        </div>
        <div class="col-md-4">
            <label for="seller" class="form-label">Seller</label>
            <input type="text" class="form-control" name="seller" id="seller" placeholder="Enter the seller's name">
        </div>

        <div class="col-md-4">
            <label for="customer_id" class="form-label">Customer ID</label>
            <input type="number" class="form-control" name="customer_id" id="customer_id"
                placeholder="Enter the customer's ID">
        </div>

        <div class="col-md-4">
            <label for="full_name" class="form-label">Full name</label>
            <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter the full name">
        </div>

        <div class="col-md-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter the email">
        </div>

        <div class="col-md">
            <label for="addres" class="form-label">Address</label>
            <input type="text" class="form-control" name="addres" id="addres" placeholder="Enter the address">
        </div>

        <div class="col-md">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter the phone">
        </div>
    </div>
</div>